

.button-base, .btn-base {
  @apply 
    py-2 px-4 
    border border-gray-300 rounded-md 
    transition duration-150 ease-in-out 
    hover:border-gray-800 
    focus:ring-blue-500 focus:ring-2 focus:ring-inset focus:outline-none
    cursor-pointer;


  &.--short {
      @apply py-0;
    }
}

.Btn, .btn {
  @extend .button-base;
}

.Btn-solid, .btn-solid {
  @apply inline-block px-4 rounded-md bg-blue-600 
    border-2 border-blue-600 
    hover:bg-blue-700 hover:bg-blue-700 
    active:bg-blue-800 active:bg-blue-800
    focus:ring-blue-600 focus:ring-2 focus:ring-inset focus:outline-none 
    no-underline hover:no-underline text-white hover:text-white 
    transition duration-150 ease-in-out cursor-pointer;

  // xs padding
  @apply py-4 mb-4 sm:py-2 sm:mb-0 text-center;

  &.--short {
    @apply py-0;
  }
}



.Btn-outline, .btn-outline {
  @apply inline-block py-2 px-4 rounded-md border-2 border-blue-600 shadow-sm hover:border-blue-700 hover:bg-blue-100/50 no-underline hover:no-underline text-blue-600 hover:text-blue-700 transition duration-150 ease-in-out cursor-pointer underline;

  // xs padding
  @apply py-4 mb-4 sm:py-2 sm:mb-0 text-center;

  &.--short {
    @apply py-0;
  }
}



.Btn-light, .btn-light {
  @apply inline-block py-2 px-4 rounded-md border border-slate-100 shadow-sm hover:bg-slate-100/50 no-underline hover:no-underline text-slate-800 hover:text-slate-700 transition duration-150 ease-in-out cursor-pointer underline;

  // xs padding
  @apply py-4 mb-4 sm:py-2 sm:mb-0 text-center;

  &.--short {
      @apply py-0;
    }
}



.Btn-text, .btn-text {
  @apply inline-block py-2 px-4 rounded-md border-2 border-transparent underline hover:no-underline text-blue-600 hover:text-blue-700 transition duration-150 ease-in-out cursor-pointer;

  // xs padding
  @apply py-4 mb-4 sm:py-2 sm:mb-0 text-center;

  &.--short {
      @apply py-0;
    }
}

.Btn-link, .btn-link {
  @apply inline-block text-blue-700 hover:text-blue-900 hover:no-underline transition duration-150 ease-in-out cursor-pointer;

  &.--short {
      @apply py-0;
    }
}



.Btn-outline-slim, .btn-outline-slim {
  @apply inline-block py-0 px-2 rounded-md border border-blue-600 shadow-sm hover:border-blue-700 hover:bg-blue-100/50 no-underline hover:no-underline text-blue-600 hover:text-blue-700 transition duration-150 ease-in-out cursor-pointer;
}

.Btn-warning,
.btn-warning {
  @apply inline-block py-2 px-4 rounded-md border-2 border-red-600 shadow-sm hover:border-red-700 hover:bg-red-100/50 no-underline hover:no-underline text-red-600 hover:text-red-700 transition duration-150 ease-in-out cursor-pointer underline;
  
    // xs padding
    @apply py-4 mb-4 sm:py-2 sm:mb-0 text-center;
  
    &.--short {
      @apply py-0;
    }
  }